
.Main{
  background-color: hsl(0, 0%, 90%);
}

.exp-info,
.edu-info{
  display: grid;
  grid-template: 1fr 1fr / 1fr 3fr;

  padding: 4px;
}

.sub-title{
  font-weight: bold;
  padding: 2px;
}

.text{
  grid-column: -2 / -1;
  overflow-wrap: break-word;
  white-space: initial;
  padding: 2px;
}