.Preview{
  display: grid;
  grid-template: 80px auto / 2fr 1fr;

  background-color: hsl(0, 0%, 85%);
  align-self: flex-start;
  min-height: 800px;
  max-width: 600px;

  color: hsl(240, 100%, 10%);

  box-shadow: 0px 0px 12px 0px hsl(0, 0%, 50%);
}

.Preview > .Header{
  grid-column: 1/-1;
}

.Preview > div{
  padding: 8px;
}

.Preview img{
  width: 200px;
}